#---------------------------------------------------
# download task
#
#
#---------------------------------------------------

[download1H]
module=ms_feed
param=-i 1,2,3 --feed goog1h --savemd
desc=下载1H数据(goog)
func=download
type=download1


[download15m]
module=ms_feed
param=-i 1,2,3 --feed goog15m --savemd
desc=下载15m数据(google)
func=download
type=download1

[download1D]
module=ms_feed
param=-i 1,2,3  --savemd -s 2013-01-01
desc=下载1D数据(yahoo)
func=download
type=download1

[downloadpvm]
module=ms_pvm
param=-i 1,2,3 
desc=下载基础数据,dividend,(yahoo)
func=download
type=download1

[downloadzack]
module=data_zacks
param=-i 1 
desc=下载zacks基础数据(预测 erd)
func=download
type=download1

#---------------------------------------------------
# load task
#
#
#---------------------------------------------------

[load1D]
module=marketscan
func=loadDataTask
param=-i 1,2,3  --loadmd  -s 2013-01-01
desc=从缓存读入yahoo 1 day数据
type=load

[load1H]
module=marketscan
func=loadDataTask
param=-i 1,2,3  --feed goog1h --loadmd
desc=从缓存读入goog 1 H数据
type=load


[load15m]
module=marketscan
func=loadDataTask
param=-i 1,2,3  --feed goog15m --loadmd
desc=从缓存读入goog 15m 数据
type=load


#------------------------------------------------------------
#  scan task
#
#
#------------------------------------------------------------
#TODO
#allow task choose sub set data from loading data
#ready to break out signal
#@only for nbar=2
[scan1]
module=marketscan
func=scanTask
desc=测试
param=-g st_k -t QCOM --feed goog1h


[1dbuydmi]
module=marketscan
func=scanTask
desc=1D 短线买入,dmi指标上穿(<20tick),px上穿ma10,ma50,200，
param=-g st_sma&ma10b<20&ma10b<ma10s&px>ma200&px>ma50,st_dmi&dmi_buy<20,st_zack&erd,ms_pvm&divdate -i 1,2,3 

#filter2=-g st_sma&nbar=2&ma50b<10&ma50s>ma50b,st_dmi&dmi_buy<20&dmi_dif>1.5,ms_zack&erd --feed sina -i 1,2,3 --loadmd -s 2013-01-01

[1dbuyma50]
module=marketscan
func=scanTask
desc=1D 中线买入,MA10上穿MA50,px突破MA10/50
param=-g st_sma&nbar=2&ma50b<30&ma50s>ma50b&ma1050b<30&ma10b<30,st_zack&erd,ms_pvm&divdate,st_perf -i 1,2,3
type=scan

#------------------------------------------------------------
#  Combine task (used in realtime)
#
#
#------------------------------------------------------------
[combine]
module=cb_daemon
func=combination_task
#param=download1h, load1h, 1hbuydmima50
config = --uselastresult
param = 1dbuyma50, 1hbuydmima50
desc=复合task
type=manual
#load1h, load1d,

[5mbuy]
module=marketscan
func=scanTask
desc=5m 超短线买入,MA10上穿MA50,px突破MA10/50
param=-g st_sma&nbar=2&ma50b<30&ma50s>ma50b&ma1050b<30&ma10b<30 --feed sina5m -i 1,2,3 
type=manual
#再加入其他指标，K线阳，MACD露头

[15mbuy]
module=marketscan
func=scanTask
desc=15m 超短线买入,MA10上穿MA50,px突破MA10/50
param=-g st_sma&nbar=2&ma50b<10&ma50s>ma50b&ma1050b<10&ma10b<10 --feed goog15m -i 1,2,3 
type=manual


[1dbuyma50pullback]
module=marketscan
func=scanTask
param=-g st_sma&nbar=2&ma50b<30&ma50s>ma50b&ma1050b<30&ma10b<30&sup50<30&sup50<res50&ma50,st_zack&erd -i 1,2,3
desc=突破MA50后回测支撑线幅度为2
type=scan

[1dsellma50]
module=marketscan
func=scanTask
param=-g st_sma&ma10s<20&ma10b>ma10s&ma50s<5&ma50b>ma50s&ma1050s<5&ma1050b>ma1050s,st_zack&erd -i 1,2,3
desc=1D sell,px跌穿ma10,50以及ma10下穿ma50,中线较强看跌信号
type=scan

[1hbuydmima50]
module=marketscan
func=scanTask
#param=-g st_sma&nbar=1&ma50b<20&ma50s>ma50b,st_dmi&dmi_buy<20&dmi_dif>1.5,st_k,st_zack&erd,st_perf --feed goog1h -i 1,2,3
param=-g st_sma&dist50=20&nbar=1&ma50b<20&ma50s>ma50b&ma1050b<ma10b&ma10b<20&ma1050b<20,st_k,st_dmi&dmi_buy<20&dmi_dif,st_zack&erd,st_perf --feed goog1h -i 1,2,3
desc=超短线买入信号,上穿ma50,dmi>1.5
type=scan

[1hbuydmima50_fail]
module=marketscan
func=scanTask
param=-g st_sma&nbar=1&ma50b<20&ma50s,st_dmi&dmi_buy<20,st_zack&erd,st_perf --feed goog1h -i 1,2,3
desc=超短线买入信号,上穿ma50,dmi>1.5
type=manual




[1hbuyvol]
module=marketscan
func=scanTask
param=-g st_sma&volra=2&vol10buy<20 --feed goog1h -i 1,2,3
desc=超短线买入信号,放量突破ma10,还需要判断close > open
type=scan


[greenline]
module=marketscan
func=scanTask
param=-g st_greenline&@sctrrank>75&@money_wave<30 -i 1,2,3 
desc=长线强势股，rsi需优化,上穿30
type=scan

[glbuy]
module=marketscan
func=scanTask
param=-g st_greenline&@sctr_buy<sctr_sell&sctr_buy<20 -i 1,2,3
desc=greenline sctr信号由负转正.中线买入信号但需要短线信号出现(1D/1H)
type=scan

[goldencross]
module=marketscan
func=scanTask
param=-g st_sma&@ma50200b<10&ma50200b<ma50200s -i 1,2,3
desc=ma50上穿ma200，长线看涨信号，需要注意延迟较大，股价如果无法快速摆脱均线时则可能转成假突破
type=scan

[deathcross]
module=marketscan
func=scanTask
param=-g st_sma&ma50200s<20&ma50200b>ma50200s&ma50&ma200 -i 1,2,3 
desc=ma50下穿ma200，长线看跌信号
type=scan


[perf]
module=marketscan
func=scanTask
param=-g st_sma&merge,st_perf&sorts -i 1,2,3
desc=按名字列出所有symbol的performance
type=scan

#------------------------------------------------------------
# Back Test task
#
#
#------------------------------------------------------------
[backtest1]
module=marketscan
func=back_test
param=--buy ma10b&ma50b&dist50&ag50b&dmibuy --sell ma10s&ma50s&ma1050s&dmisell --feed goog1h -i 1,2,3
desc=backtest
type=scan

[backtest2]
module=marketscan
func=back_test
param=--buy ma10b&ma50b&ma1050b&dist50 --sell ma10s&ma50s&ma1050s&dmisell --feed goog1h -i 1,2,3
desc=backtest
type=scan

[bt1]
module=cb_daemon
func=combinationTask
param=bt1a, bt1b, bt1c
desc=复合task
type=manual

[bt1a]
module=marketscan
func=loadDataTask
param=-i 1,2,3  --feed goog1h --loadmd
#--tailoffset=55
desc=从缓存读入goog 1 H数据
type=load

[bt1b]
module=marketscan
func=scanTask
#param=-g st_sma&dist50=20&nbar=2&volra=1.4&vol10b<20&ma50b<20&ma50s>ma50b&ma1050b<ma10b&ma10b<20&ma1050b<20,st_dmi&dmi_buy<20&dmi_dif,st_zack&erd,st_perf --feed goog1h -t QCOM
param=-g st_sma&dist50=20&nbar=1&volra=1.4&vol10b<20&ma50b<20&ma50s>ma50b&ma1050b<ma10b&ma10b<20&ma1050b<20&ag50b,st_dmi&dmi_buy<20&dmi_dif --feed goog1h -i 1,2,3
desc=超短线买入信号,上穿ma50,dmi>1.5
type=scan

[bt1c]
module=marketscan
func=back_test
param=--buy ma10b&vol10b&ma50b&dist50&ag50b&dmibuy --sell ma10s&ma50s&ma1050s&dmisell --feed goog1h -i 1,2,3
desc=backtest
type=scan

[bt1b1]
module=marketscan
func=scanTask
param=-g sgy_br_ma50&brkoutb<50 --feed goog1h -i 1,2,3
desc=超短线买入信号,上穿ma50,dmi>1.5
type=scan

[bt1b2]
module=marketscan
func=back_test
param=--buy brkout --sell ma10s&ma50s&ma1050s&dmisell --feed goog1h -i 1,2,3
desc=backtest
type=scan




#------------------------------------------------------------
#  manual task
#
#
#------------------------------------------------------------
[ohlc15m]
module=marketscan
func=printOhlcTask
param=-t JNJ --feed goog15m
desc=打印symbol的ohlc数据
type=manual

[ohlc1d]
module=marketscan
func=printOhlcTask
param=-t JNJ
desc=打印symbol的ohlc数据
type=manual

[ohlc1h]
module=marketscan
func=printOhlcTask
param=-t JNJ --feed goog1h
desc=打印symbol的ohlc数据
type=manual

[table]
module=marketscan
func=printTableTask
param=--feed goog1h -i 1,2,3

#------------------------------------------------------------
#  obselete task
#
#
#------------------------------------------------------------
[download5msina]
module=ms_feed
param=-i 1,2,3 --feed sina5m --savemd
desc=下载5m数据(sina)
func=process
type=manual

[load5msina]
module=marketscan
func=loadDataTask
param=-i 1,2,3  --feed sina5m --loadmd
desc=从缓存读入sina 5m 数据
type=manual

[download1Hsina]
module=ms_feed
param=-i 1,2,3 --feed sina --savemd
desc=下载1H数据(sina)
func=process
type=manual

[load1Hsina]
module=marketscan
func=loadDataTask
param=-i 1,2,3  --feed sina --loadmd
desc=从缓存读入sina 1 H数据
type=manual

#[resetstg1d]
#module=marketscan
#func=resetStrategy
#param=
#desc=reset 1d strategy 
#type=manual


